
.asside  {
    width: 30%;
    height: 50%;
    margin:10%;
    
    }
    
body {
        
        text-align: center;
    }
h4{
        padding:3px;
    }

.card-title {
    padding:1%;
}


.city {
 text-align: left;
 margin: 2%;
 padding:1%;
}

.custom-column{
background-color: lightcyan;
}

.uv1 {
    background-color:green ;
}
.uv2 {
    background-color:greenyellow ;
}
.uv3 {
    background-color: yellow;
}
.uv4 {
    background-color:rgb(251, 159, 38);
}
.uv5 {
    background-color: orange;
}
.uv6 {
    background-color:orangered ;
    color: white;
}
.uv7 {
    background-color: red;
    color: white;
}
.uv8 {
    background-color:maroon ;
    color: white;
}
.uv9 {
    background-color:magenta ;
    color: white;
}

.uv10 {
    background-color: purple;
}